# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local databases
db.sqlite3-journal

# Virtual Environments (adjust to match your directory name)
.venv/
venv/
venv
env/
ENV/
dist/
build/
*.egg-info/

# Environment variables and secrets
.env
.env.*
local_settings.py

# Media files (user uploads) and collected static assets

# Logs and debug files
*.log
pip-log.txt
*.bak
*.swp

# Testing and coverage
.tox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# IDE and Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
